
body {
       
    color: aliceblue;
    /* background-image: url("https://pbblogassets.s3.amazonaws.com/uploads/2018/10/16115808/SPACEKIT_header.jpg"); */
    background-image: url("https://images.pexels.com/photos/41953/earth-blue-planet-globe-planet-41953.jpeg?cs=srgb&dl=pexels-pixabay-41953.jpg&fm=jpg&_gl=1*1htxs0y*_ga*MTA1MDE4MDUzOC4xNjY3MjczNDA4*_ga_8JE65Q40S6*MTY2NzI3MzQwOS4xLjEuMTY2NzI3MzQzNy4wLjAuMA..");
    background-size: cover;

}


.about {
    display: flex;
    justify-content: center;
    font-style: bold;
    color: rgb(11, 97, 246);
}

.container {
    display:inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

article {

    size-adjust: 50%;
}

nav {
    display:flex;
    flex-direction: row;
    font-size: 200%;
}

  nav a {
    display:inline-block;
    justify-content:space-between;

    color:aqua;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color:blue
  }

  #contact {
    display:flex;
    
  }
 










@media screen and (max-width: 360px) {
    main {
        display: flex;
        flex-direction: column;
    }
    main section {
        flex: 0 0 95%
